<form ng-submit="login()">
  <input ng-model="loginEmail"/>
  <input type="password" ng-model="loginPassword"/>
  <button>Submit </button>
</form>
<div ng-show="loginError"> Invalid Email/Password</div>

<form ng-submit="submit()">
  <input placeholder="name" ng-model="signupName">
  <input placeholder="email" ng-model="signupEmail">
  <input placeholder="password" type="password" ng-model="signupPassword">
  <button> Submit </button>
</form>
<div ng-show="signupError"> Something went wrong on signup </div>
