<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script>
    //bootstrapping userID
    var _user = JSON.parse(JSON.stringify({{{user}}}))
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/app.js"></script>
  </head>
  <body ng-app="SoToDo">
    {{{body}}}
  </body>
</html>
