<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>{{title}}</title>
    <script>
    //bootstrapping userID
    var _user = JSON.parse(JSON.stringify({{{user}}}))
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
    <script src="/javascript/app.js"></script>
  </head>
  <body ng-app="SoToDo">
    {{{body}}}
  </body>
</html>
